/* Global */
body {
  font-family: 'Roboto', sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container,
div,
section {
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
