/* Global */
$family: 'Roboto';
$style: 'Medium';

/* Header */
$headerBackground: #10181D;
$darkGradient: #7D0313;
$brightGradient: #BB1021;
$headerSearchLine: #FFFFFF;
$headerFocusLine: #FF001B;
$searchStyle: 'Regular';
$textColor: #FFFFFF; 
$resultColor: #FF001B;

/* Body */
$bodyBackground: #FFFFFF;
$nameColor: #000000;
$categoryColor: #FF6B08;

/* Footer */
$UpBackground: #FFFFFF;
$DownBackground: #F7F7F7;
$numbColor: #000000;
$numbFocus: #FFFFFF;
$numbBackground: #FF6B08;
$arrowBackground: #F7F7F7;
$footerText: #545454;
$heart: #FF6B08;