/* Header */
$headerBackground: #10181d;
$darkGradient: #7d0313;
$brightGradient: #bb1021;
$searchStyle: 'Regular';
$textColor: #ffffff;
$resultColor: #ff001b;
$switchColor: #ff0;

/* Footer */
$downBackground: #f7f7f7;
$numbColor: #000000;
$numbBackground: #ff6b08;
$footerText: #545454;
$heart: #ff6b08;
$hover-heart: #ff00ff;

/*modal*/
$textAbout: #8c8c8c;
