<footer class="footer__bg">
  <div class="footer">
    <p class="footer__text">
      &copy 2023 | All Rights Reserved | Developed with<span
        class="footer__icon"
        ><svg style="fill: currentColor" width="15" height="13">
          <use href="./images/footer/icons.svg#heart"></use></svg></span
      >by
      <a id="openFooterModal" class="footer__link" href=""> GoIT Students </a>
    </p>
  </div>
</footer>
<div class="footer-modal">
  <div class="footer-modal__window">
    <button class="footer-modal__closeBtn">Close</button>
    <p></p>
  </div>
</div>
