<div class="Header">
  <div class="Filmoteka">
    <img
      src="/src/images/header-main/film.png"
      alt="Filmoteka Logo"
      class="FilmotekaLogo"
    />
    <p class="FilmotekaText">Filmoteka</p>
  </div>
  <div class="Links">
    <a class="Link1" href="">HOME</a>
    <a class="Link2" href="">MY LIBRARY</a>
  </div>
  <div class="SearchBox">
    <form class="form-search">
      <input
        type="text"
        class="search-box"
        name="search-box"
        placeholder="Movie search"
        autocomplete="off"
      />
      <button type="submit" class="form-submit" />
    </form>
  </div>
</div>
