<footer class="footer__bg">
  <div class="footer">
    <p class="footer__text">
      &copy 2023 | All Rights Reserved | Developed with<span
        class="footer__icon"
        ><svg style="fill: currentColor; filter: none" width="15" height="13">
          <use href="./images/footer/icons.svg#heart"></use></svg></span
      >by
      <button type="button" id="openFooterModal" class="footer__link">
        GoIT Students
      </button>
    </p>
  </div>
</footer>
<div class="footer-modal invisible">
  <div class="footer-modal__window">
    <button class="footer-modal__closeBtn">
      <svg style="fill: black; filter: none" width="16" height="16">
        <use href="./images/footer/icons.svg#cross"></use>
      </svg>
    </button>
    <div class="footer-modal__intro"></div>
    <div class="footer-modal__content invisible">
      <ul>
        <li>
          <img
            src="./images/footer/typ6.png"
            alt="Weronika"
            width="77px"
            height="77px"
          />
          <h2>Weronika</h2>
          <p>Team Leader</p>
        </li>
        <li>
          <img
            src="./images/footer/typ8.png"
            alt="Arek Majewski"
            width="77px"
            height="77px"
          />
          <h2>Arek Majewski</h2>
          <p>Scrum Master</p>
        </li>
        <li>
          <img
            src="./images/footer/typ7.png"
            alt="Kasia Jachimowska"
            width="77px"
            height="77px"
          />
          <h2>Kasia Jachimowska</h2>
          <p>Developer</p>
        </li>
        <li>
          <img
            src="./images/footer/typ4.png"
            alt="Maciek"
            width="77px"
            height="77px"
          />
          <h2>Maciek</h2>
          <p>Developer</p>
        </li>
        <li>
          <img
            src="./images/footer/typ3.png"
            alt="Piotr Bakuliński"
            width="77px"
            height="77px"
          />
          <h2>Piotr Bakuliński</h2>
          <p>Developer</p>
        </li>
        <li>
          <img
            src="./images/footer/typ5.png"
            alt="Patryk Stefański"
            width="77px"
            height="77px"
          />
          <h2>Patryk Stefański</h2>
          <p>Developer</p>
        </li>
        <li>
          <img
            src="./images/footer/typ2.png"
            alt="Łukasz Michalak"
            width="77px"
            height="77px"
          />
          <h2>Łukasz Michalak</h2>
          <p>Developer</p>
        </li>
        <li>
          <img
            src="./images/footer/typ1.png"
            alt="Kajetan Antoszkiewicz"
            width="77px"
            height="77px"
          />
          <h2>Kajetan Antoszkiewicz</h2>
          <p>Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
