<footer class="footer__bg">
  <div class="footer">
    <p class="footer__text">
      &copy 2023 | All Rights Reserved | Developed with<span
        class="footer__icon"
        ><svg style="fill: currentColor; filter: none" width="15" height="13">
          <use href="./images/footer/icons.svg#heart"></use></svg></span
      >by
      <button type="button" id="openFooterModal" class="footer__link">
        GoIT Students
      </button>
    </p>
  </div>
</footer>
<div class="footer-modal invisible">
  <div class="footer-modal__window">
    <button class="footer-modal__closeBtn">
      <svg style="fill: black; filter: none" width="16" height="16">
        <use href="./images/footer/icons.svg#cross"></use>
      </svg>
    </button>
    <div class="footer-modal__intro"></div>
    <div class="footer-modal__content invisible">
      <ul class="footer-modal__gallery">
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ6.png"
            alt="Weronika"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Weronika</h2>
          <p class="footer-modal__function">Team Leader</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ8.png"
            alt="Arek Majewski"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Arek Majewski</h2>
          <p class="footer-modal__function">Scrum Master</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ7.png"
            alt="Kasia Jachimowska"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Kasia Jachimowska</h2>
          <p class="footer-modal__function">Developer</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ4.png"
            alt="Maciek"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Maciek</h2>
          <p class="footer-modal__function">Developer</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ3.png"
            alt="Piotr Bakuliński"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Piotr Bakuliński</h2>
          <p class="footer-modal__function">Developer</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ5.png"
            alt="Patryk Stefański"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Patryk Stefański</h2>
          <p class="footer-modal__function">Developer</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ2.png"
            alt="Łukasz Michalak"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Łukasz Michalak</h2>
          <p class="footer-modal__function">Developer</p>
        </li>
        <li class="footer-modal__card">
          <img
            class="footer-modal__img"
            src="./images/footer/typ1.png"
            alt="Kajetan Antoszkiewicz"
            width="166px"
            height="166px"
          />
          <h2 class="footer-modal__name">Kajetan Antoszkiewicz</h2>
          <p class="footer-modal__function">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
