<div class="HeaderMain">
  <div class="HeaderMain__TopRow">
    <div class="HeaderMain__TopRow__Filmoteka">
      <svg class="library-header__logo_icon-main" width="24" height="24">
        <use href="/src/images/header-mylibrary/icons.svg#icon-film"></use>
      </svg>
      <a
        class="HeaderMain__TopRow__Filmoteka__FilmotekaText"
        href="/src/index.html"
        >Filmoteka</a
      >
    </div>

    <button
      class="btn-switch-library btn-switch-main btn-switch"
      aria-label="Przełącznik trybu nocnego"
    >
      <div class="icon"></div>
    </button>
    <div class="HeaderMain__Links">
      <a class="HeaderMain__Links__Link1" href="/src/index.html">HOME</a>
      <a class="HeaderMain__Links__Link2" href="/src/library.html"
        >MY LIBRARY</a
      >
    </div>
  </div>
  <div class="search-box">
    <form class="search-form">
      <input
        type="text"
        class="search-input"
        name="search-box"
        placeholder="Movie search"
        autocomplete="off"
      />
      <button type="submit" class="form-submit" name="button-submit" />
    </form>
  </div>
</div>
