<html>
  <head>
    <link
      href=" https://cdn.jsdelivr.net/npm/hystmodal@1.0.0-beta.4/dist/hystmodal.min.css "
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="hystmodal" id="myModal" aria-hidden="true">
      <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
          <div class="modal">
            <div class="movies_container">
              <!--<div class="container_imag">
                <img
                  class="img"
                  src="https://image.tmdb.org/t/p/w500//fiVW06jE7z9YnO4trhaMEdclSiC.jpg"
                  alt="modal-title"
                />
                <div class="info_text">
                  <h1 class="info_title">FAST X</h1>
                  <div class="info_movie">
                    <div class="info_name">
                      <p class="name">Vote / Votes</p>
                      <p class="name">Popularity</p>
                      <p class="name">Original Title</p>
                      <p class="name">Genre</p>
                    </div>
                    <div class="info_value">
                      <p class="value">
                        <span class="value">7.4</span>/<span class="value"
                          >1439</span
                        >
                      </p>
                      <p class="value">11708.862</p>
                      <p class="value">Fast X</p>
                      <p class="value">Action, Crime, Thriller</p>
                    </div>
                    <h2 class="about">About</h2>
                    <p class="about_text">
                      Over many missions and against impossible odds, Dom
                      Toretto and his family have outsmarted, out-nerved and
                      outdriven every foe in their path. Now, they confront the
                      most lethal opponent they've ever faced: A terrifying
                      threat emerging from the shadows of the past who's fueled
                      by blood revenge, and who is determined to shatter this
                      family and destroy everything—and everyone—that Dom loves,
                      forever.
                    </p>
                    <ul class="button">
                      <li class="button_item">
                        <button class="button_watched" type="button">
                          ADD TO WATCHED
                        </button>
                      </li>
                      <li class="button_item">
                        <button class="button_queue" type="button">
                          ADD TO QUEUE
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src=" https://cdn.jsdelivr.net/npm/hystmodal@1.0.0-beta.4/dist/hystmodal.min.js "></script>
  </body>
</html>
