<div class="pagination-container">
  <button class="pagination-btn arrow-left"></button>
  <button class="pagination-btn first-btn">1</button>
  <span class="dots" id="previous">...</span>
  <button class="pagination-btn pagination-select" data-id="1">1</button>
  <button class="pagination-btn" data-id="2">2</button>
  <button class="pagination-btn" data-id="3">3</button>
  <button class="pagination-btn" data-id="4">4</button>
  <button class="pagination-btn" data-id="5">5</button>
  <span class="dots" id="next">...</span>
  <button class="pagination-btn last-btn">1000</button>
  <button class="pagination-btn arrow-right"></button>
</div>
