.library-header {
  padding: 40px 20px 0px 20px;
  width: 100%;
  height: 230px;
  min-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(#00000056, #00000056),
    url(/src/images/header-mylibrary/mobile_library_header_background_1x.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: linear-gradient(#00000056, #00000056),
      url(/src/images/header-mylibrary/mobile_library_header_background_2x.jpg);
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    background-image: linear-gradient(#00000056, #00000056),
      url(/src/images/header-mylibrary/mobile_library_header_background_3x.jpg);
  }
  @include tablet {
    width: 100%;
    height: 219px;
    padding: 45px 32px 60px 32px;
    background-image: linear-gradient(#00000056, #00000056),
      url(/src/images/header-mylibrary/tablet_library_header_background_1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: linear-gradient(#00000056, #00000056),
        url(/src/images/header-mylibrary/tablet_library_header_background_2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: linear-gradient(#00000056, #00000056),
        url(/src/images/header-mylibrary/tablet_library_header_background_3x.jpg);
    }
  }
  @include desktop {
    width: 100%;
    height: 216px;
    background-image: linear-gradient(#00000056, #00000056),
      url(/src/images/header-mylibrary/desktop_library_header_background_1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: linear-gradient(#00000056, #00000056),
        url(/src/images/header-mylibrary/desktop_library_header_background_2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: linear-gradient(#00000056, #00000056),
        url(/src/images/header-mylibrary/desktop_library_header_background_3x.jpg);
    }
  }
}
.library-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include tablet {
  }
  @include desktop {
  }
}
.library-header__logo {
  @include tablet {
    gap: 10px;
  }
  @include desktop {
  }
  &__name {
    display: none;
    color: $textColor;
    font-size: 30;
    line-height: 35px;
    @include tablet {
      display: contents;
    }
    @include desktop {
    }
  }
}

.library-header__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  &__item a {
    color: $textColor;
    font-size: 12;
    line-height: 14px;
    &:hover,
    &:focus {
      border-bottom: 2px solid $resultColor;
    }
  }
}
.library-header__buttons__containter {
  display: flex;
  gap: 20px;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
  @include tablet {
    gap: 32px;
  }
  @include desktop {
    gap: 16px;
  }
}
.library-header__buttons__button {
  width: 130px;
  height: 44px;
  background: 0;
  border: 1px solid #ffffff;
  border-radius: 5;
  color: $textColor;
  font-size: 12;
  line-height: 16px;
  &.active {
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: #ff6b01;
    border-color: #ff6b01;
  }
  &:hover,
  &:focus {
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: #ff6b01;
    border-color: #ff6b01;
    cursor: pointer;
  }
  @include tablet {
    width: 152px;
    height: 44px;
  }
  @include desktop {
    width: 148px;
    height: 42px;
  }
}
