.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 58px;
  margin-bottom: 58px;
}
.dots {
vertical-align: middle;
}

.pagination-btn:not(:last-child),
.dots {
  margin-right: 10px;
  padding: 10px;
}

.pagination-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ffb27f;
    color: rgb(255, 255, 255);
    width: 44px;
    height: 44px;
    border-radius: 4px;
    transition-property: background-color, width, height;
    transition-duration: 444ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.pagination-select {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: white;
}

.dots,
.first-btn,
.last-btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
  background-position: center;
  background-repeat: no-repeat;

}


.arrow-left {
  background-image: url(../images/pagination/arrow-left.svg);
}

.arrow-right {
  background-image: url(../images/pagination/arrow-right.svg);
}

.pagination-container.is-hidden {
  display: none;
}
