.pagination-container {
  display: flex;

  align-items: center;

  justify-content: center;

  align-items: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 40px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 0 60px 0;
  }
}

.pagination-btn:not(:last-child),
.dots {
  margin-right: 10px;

  padding: 10px;
}

.pagination-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 12px;

  &:hover,
  &:focus {
    background-color: #ffb27f;
    color: rgb(255, 255, 255);
    width: 44px;
    height: 44px;
    border-radius: 4px;
    transition-property: background-color, width, height;
    transition-duration: 444ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.pagination-select {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: white;
}

.dots,
.first-btn,
.last-btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;

  height: 40px;

  border-radius: 5px;

  background-color: #f7f7f7;

  stroke: #000;

  background-position: center;

  background-repeat: no-repeat;
  
  &:hover,
  &:focus {
    stroke: white;
  }
}

.arrow-left {
  background-image: url(../images/pagination/arrow-left.svg);
}

.arrow-right {
  background-image: url(../images/pagination/arrow-right.svg);
}

.pagination-container.is-hidden {
  display: none;
}
