.btn-switch-library {
  background-color: $numbColor;
  border: solid 3px $textColor;
  border-radius: 50px;
  cursor: pointer;
  height: 20px;
  outline-width: 5px;
  width: 30px;
}

.icon-library {
  background-color: $footerText;
  border-radius: 100%;
  content: '';
  height: 13px;
  position: relative;
  right: 35%;
  transition: background-color 0.3s, transform 0.3s;
  width: 15px;
}
.dark-library {
  background-color: $numbColor;
}
.dark-library .icon-library {
  background: $switchColor;
  transform: translateX(7px);
}
.dark-library .icon-library::after {
  content: '';
  background-color: $numbColor;
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  left: -4px;
  position: absolute;
  top: 0;
}
/* LIGHT MODE */
.light-library {
  background-color: $textColor;
}

.light-library .icon-library {
  background: $footerText;
  transform: translateX(0);
}

.light-library .icon-library::after {
  content: none;
}
