.trailer__modal {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
}
.trailer {
  margin-top: 100px;

  height: 100%;
}
.button_trailer {
  left: 0px;
}
.iframe {
  width: 100%;
  height: 70%;
}
.trailerHiden {
  display: none;
}
